@import '../node_modules/modern-normalize/modern-normalize.css';

:root {
  --sky-blue-color: #3470ff;
  --blue-color: #0b44cd;
  --active-color: orange;
  --white-color: #fff;
  --gray-color: #f7f7fb;
  --second-gray-color: #f9f9f9;
  --third-gray-color: #8a8a89;
  --black-color: #121417;
  --light-black-color: #363535;
  --black-opacity-50-color: rgba(18, 20, 23, 0.5);
  --black-opacity-20-color: rgba(18, 20, 23, 0.2);

#root {
  height: 100vh; 
  overflow: auto;
}
}
