@import '../node_modules/modern-normalize/modern-normalize.css';

:root {
  /*base colors*/
  --black-color: #040404;
  --orange-color: #e6533c;
  --light-orange-color: #ef8964;
  --beige-color: #efa082;
  --white-color: #efede8;
  --gray-color: #303030;

  /*success/error colors*/
  --success-color: #3cbf61;
  --error-color: #d80027;
}
